{% extends 'base.html.twig' %}

{% block title %}Fiche détaillée de demande de devis en cours commercial{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Fiche détaillée de la demande de {{ clients.nomClient }} {{ clients.prenomClient }} </h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item">ID demande : </li>
                            <li class="list-group-item">Nom Artisan : </li>
                            <li class="list-group-item">Prénom Artisan : </li>
                            <li class="list-group-item">Nom Client : </li>
                            <li class="list-group-item">Prénom Client : </li>
                            <li class="list-group-item">Numéro de rue : </li>
                            <li class="list-group-item">Rue : </li>
                            <li class="list-group-item">Ville : </li>
                            <li class="list-group-item">Code postal : </li>
                            <li class="list-group-item">Téléphone Client : </li>
                            <li class="list-group-item">Mail Client : </li>
                            <li class="list-group-item">Téléphone Artisan : </li>
                            <li class="list-group-item">Mail Artisan : </li>
                            <li class="list-group-item">Description : </li>
                            <li class="list-group-item">Date de proposition : </li>
                            <li class="list-group-item">Date de réalisation : </li>
                            <li class="list-group-item">État d'avancement : </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}