{%extends "base.html.twig"%}
{% block body %}
{% include 'navbar.html.twig' %}
<div id="TdbAdmin"><h1>Tableau de bord Administrateur</h1></div>

<div class="flex-container">
    <div id="GraphAdmin1">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            // Chargement du graph via google

            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            //les valeurs du graph
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work', 2],
                    ['Eat', 1],
                    ['TV', 1],
                    ['Gym', 1],
                    ['Sleep', 1]
                ]);
                // Changement de la taille et le titre du graphe
                var options = {'title': 'Artisans par secteur', 'width': 550, 'height': 400};
                var chart = new google.visualization.PieChart(document.getElementById('GraphAdmin1'));
                chart.draw(data, options);
            }
        </script>
    </div>

    <!-- A FAIRE POUR QUELQU'UN : AJOUTER LE NOMBRE D'ARTISAN INSCRITS -->

    <div id="BarreVerticale"></div>

    <!-- A FAIRE POUR QUELQU'UN : AJOUTER LE NOMBRE DE DEMANDES DE PRESTATION -->

    <div id="GraphAdmin2" style="display: inline-block;">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            // Chargement du graph via google
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            //les valeurs du graph
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work', 10],
                    ['Eat', 20],
                    ['TV', 30],
                    ['Gym', 40],
                    ['Sleep', 0]
                ]);
                // Changement de la taille et le titre du graphe
                var options = {'title': 'Demandes par secteur', 'width': 550, 'height': 400};
                var chart = new google.visualization.PieChart(document.getElementById('GraphAdmin2'));
                chart.draw(data, options);
            }
        </script>
    </div>
</div>

    <!-- A FAIRE POUR VINCENT : BOUTONS A CENTRER ET METTRE DES VRAIES VALEURS SUR LE GRAPHIQUE -->
<button ><a href="{{path('adminprestataire')}}">Voir les artisans</a></button>
<button ><a href="{{path('admindemandes')}}">Voir les demandes</a></button>
<div class="flex-container">
    <div id="BarreHorizontale"></div>
</div>
<div class="service">
    <h3 id="ServiceTitle">Services</h3>
    <!-- A FAIRE POUR VINCENT : FAIRE MARCHER LES BOUTONS MODIFIER/AJOUTER -->
    <ul >
        {% for service in services %}
            <li class="list-group-item">{{ service.nomService }} <button ><a href="">Modifier le service</a></button></li>
        {% endfor %}
    </ul>
    <input type="text" name="addservice">
    <button><a href="">Ajouter un service</a></button>


</div>

    <!-- A FAIRE POUR VINCENT : FAIRE UN FORMULAIRE POUR MODIFIER LES VALEURS DE LA TABLE PARAMETRES

     DEMANDE A CLEMENT SI T'AS DES QUESTIONS -->


{% endblock %}