<!DOCTYPE html>
<html lang="fr">
	{% block header %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock %}</title>
<<<<<<< HEAD
        {% block head %}
        {% endblock %}
=======
		{% block head %}
		{% endblock %}
>>>>>>> dev
        {% include 'css.html.twig' %}
    </head>
	{% endblock %}
	{% include 'navbar.html.twig' %}
	<body>
		{% block body %}{% endblock %}
	</body>

<<<<<<< HEAD
	{% block js %}{% endblock %}
    {% include 'js.html.twig' %}
=======
	{% block js %}
	{% endblock %}
	{% include 'js.html.twig' %}
>>>>>>> dev
</html>
