{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params'))
%}
{% block top_header_area %}
{% endblock %}
<nav class="navbar navbar-default header_aera" id="main_navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-2 p0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-12 p0">
            <div class="collapse navbar-collapse" id="min_navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/" class="logo"><strong>SR2F</strong></a></li>
					
					{% if currentPath == path('home') %}
						<li><a href="/#apropos">À propos</a></li>
					{% endif %}
					
					{% if currentPath == path('home') %}
						<li><a href="/#services">Services</a></li>
					{% endif %}
					{% if currentPath == path('home') %}
						<li><a href="/#garanties">Garanties</a></li>
					{% endif %}
					
					{% if currentPath == path('home') %}
						<li><a href="/#equipe">Notre Équipe</a></li>
					{% endif %}
					
					{% if currentPath == (path('home')or path('contact')) %}
						<li><a href="{{ path('demande_prestation')}}">Faire une demande de prestation</a></li>
					{% endif %}
					
					{% if currentPath == (path('home') or path('contact')) %}
						<li><a href="}">Suivre ma demande de prestation</a></li>
					{% endif %}
					
					
					
                    <li><a href={{ path('contact') }}>Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Connexion</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Connexion avec :</p>
                                        <div class="social-buttons">
                                            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                            <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                        </div>
                                        <p>ou</p>
                                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">Email</label>
                                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Mot de passe</label>
                                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Mot de passe" required>
                                                <div class="help-block text-right"><a href="{{ path('changepassword') }}">Mot de passe oublié ?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Connexion</button>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Se souvenir de moi
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="bottom text-center">
                                        <a href="{{ path('app_register') }}"><b>Créer un compte</b></a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container -->
</nav>