{% extends 'base.html.twig' %}

{% block title %}Fiche détaillée de demande de devis en cours administrateur{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Fiche détaillée de la demande de devis TITRE DEVIS</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item">Titre devis : </li>
                            <li class="list-group-item">Nom Client : </li>
                            <li class="list-group-item">Prénom Client : </li>
                            <li class="list-group-item">Adresse Client : </li>
                            <li class="list-group-item">Ville Client : </li>
                            <li class="list-group-item">CP Client : </li>
                            <li class="list-group-item">État d'avancement : </li>
                            <li class="list-group-item">Description du devis : </li><br>
                            <input type="submit" class="btn btn-primary" value="Modifier les informations"><br><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}